LOCATE COMP "clk25" SITE "E3";
IO_TYPE="LVCMOS33";

LOCATE COMP "rst_n" SITE "D3";
IO_TYPE="LVCMOS33";

LOCATE COMP "user_led" SITE "R7";
IO_TYPE="LVCMOS33";

LOCATE COMP "sd_clk" SITE "F4";
IO_TYPE="LVCMOS33";

LOCATE COMP "sd_mosi" SITE "F3";
IO_TYPE="LVCMOS33";

LOCATE COMP "sd_miso" SITE "F2";
IO_TYPE="LVCMOS33";

LOCATE COMP "sd_cs_n" SITE "F1";
IO_TYPE="LVCMOS33";
